@model ScenerySlider.Models.Scene
@{
    Layout = null;
    ViewBag.Title = "Tour";
}

<script src="~/Scripts/jquery-3.5.1.js"></script>
<script>
    $(document).ready(function () {
        $('div.bg-img').css("background-image", "url(@Model.BackgroundLocation)");
        $('.spot').click(function () {
            SwitchScene(this.id);
        });
        $('.close').click(function () {
            ShowContent(this.id);
        });
        function SwitchScene(id) {
            $.ajax({
                url: "/Scenes/TourPanel/" + id,
                success: function (result) {
                    $(".bg-img").html(result);
                }
            });
        }
        function ShowContent(id) {
            $(".infomationScreen").css("display", "none");
            $(".bg-blur").css("display", "none");
            $(".bg-blur").css("background-image", "url(@Model.BackgroundLocation)");
        }
    });
</script>
<script src="~/Scripts/TourFrame/TourDragBackground.js"></script>
<div class="bg-blur"></div>
@{ using(var context = new ScenerySlider.Data.SceneButtonContext()) {
        var sceneButton = context.SceneButtons.Where(scene => scene.OwnerSceneId == Model.SceneId).ToList(); for(int i = 0; i < sceneButton.Count(); i++) { <i id="@sceneButton[i].TargetSceneId" style="top:@sceneButton[i].PositionY%; left:@sceneButton[i].PositionX%;" class="spot @sceneButton[i].Icon"></i>
        }
    }
    using(var context = new ScenerySlider.Data.InformationSpotButtonContext()) {
        var informationButton = context.InformationSpotButtons
        .Where(scene => scene.SceneId == Model.SceneId)
        .ToList();
        for(int i = 0; i < informationButton.Count(); i++) {
            <a href="@Url.Action("Tour", "Scenes", new { id = informationButton[i].SceneId })">
                <i style="top:@informationButton[i].PositionY%; left:@informationButton[i].PositionX%;" class="spot @informationButton[i].Icon"></i>
            </a>
        }
    }
    <div class="infomationScreen">
        <i class="close spot fas fa-reply fa-flip-vertical"></i>

        <p>
            <strong>@Model.Name</strong>
        </p>
        <p>
            @Model.Description
        </p>
    </div>
}


<p>
    <input type="text" id="data" />
</p>
